.P-admin-component {
    display : flex;
    height  : 100vh;
}

.P-navigation-list {
    background-color : #0d9a9a;
    padding          : 25px 10px;
    width            : 200px;
}

.P-main-pages {
    width   : calc(100% - 200px);
    padding : 15px;
    background-color: #bdbdbd;
}

.P-navigation-list li a {
    color           : white;
    text-decoration : none;
}
